
header {
   display: flex; 
   justify-content: space-around;
   align-items: center;
}

.section1 a{
    color: #e5e7eb;
    text-decoration: none;
}
.section1{
    background-color: #1f2937;
    /*display: flex;
    justify-content: center;*/
}
.HeroSecText{
    color: #e5e7eb;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero div{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.section2{
    display: block;
    align-items: center;
}

.section3{
    background-color: #EFE7EB;
}
.section4{
    background-color:#3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
header h1{
    font-size: 24px;
    color: #F9FAF8;
}
/**{
    border:1px solid #00FF00;
}*/
button{
    background-color: #3882f6;
    text-align: center;
    border: none;
    border-radius: 8px;
    height: 35px;
    width: 150px;
    font: bold 25px Arial;
    color: white;
}
.row{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}
.column{
    display: flex;
    flex-flow: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #006aff;
    border-width: 5px;
    border-radius: 10px;
}
.quote{
    font: 36px italic;
    color: #1f2937;
    padding: 5% 10% 0% 5%;
}
.quote-src{
    text-align: right;
    font-weight: bold;
    padding: 0 10%;
}